<div class="burger">
  <div class="burger__inner">
    <ul class="menu burger__menu">
      <li class="menu__item burger__item">
        <a class="menu__link burger__link" href="#">Home</a>
      </li>
      <li class="menu__item burger__item">
        <a class="menu__link burger__link" href="#">Game</a>
      </li>
      <li class="menu__item burger__item">
        <a class="menu__link burger__link" href="#">Features</a>
      </li>
      <li class="menu__item burger__item">
        <div class="menu__link menu__lang burger__link">
          <a class="menu__lang-active" href="#">Eng</a>
          <span>/</span>
          <a href="#">Uk</a>
        </div>
      </li>
      <li class="menu__item burger__item">
        <a class="menu__link burger__link" href="#">Play the Beta</a>
      </li>
    </ul>
    <div class="burger__bottom">
      <span class="burger__title">SOCIALS</span>
      <ul class="social burger__social">
        <li class="social__item">
          <a class="social__link burger__social-link" target="_blank" href="https://www.discord.com">
            <svg class="social__img" width="42" height="42">
              <use xlink:href="images/sprite.svg#discord"></use>
            </svg>
            <span class="sr-only">link to discord</span>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link burger__social-link" target="_blank" href="https://www.youtube.com">
            <svg class="social__img" width="42" height="42">
              <use xlink:href="images/sprite.svg#youtube"></use>
            </svg>
            <span class="sr-only">link to youtube</span>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link burger__social-link" target="_blank" href="https://www.facebook.com">
            <svg class="social__img" width="42" height="42">
              <use xlink:href="images/sprite.svg#facebook"></use>
            </svg>
            <span class="sr-only">link to facebook</span>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link burger__social-link" target="_blank" href="https://www.telegram.com">
            <svg class="social__img" width="42" height="42">
              <use xlink:href="images/sprite.svg#telegram"></use>
            </svg>
            <span class="sr-only">link to telegram</span>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link burger__social-link" target="_blank" href="https://www.twitter.com">
            <svg class="social__img" width="42" height="42">
              <use xlink:href="images/sprite.svg#twitter"></use>
            </svg>
            <span class="sr-only">link to twitter</span>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link burger__social-link" target="_blank" href="https://www.instagram.com">
            <svg class="social__img" width="42" height="42">
              <use xlink:href="images/sprite.svg#instagram"></use>
            </svg>
            <span class="sr-only">link to instagram</span>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link burger__social-link" target="_blank" href="https://www.reddit.com">
            <svg class="social__img" width="42" height="42">
              <use xlink:href="images/sprite.svg#reddit"></use>
            </svg>
            <span class="sr-only">link to reddit</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  
</div>