<header class="header">
    <div class="container">
      <nav class="header__nav">
        <a class="logo header__logo" href="#">
          <img class="logo__img" src="images/dist/logo.svg" height="152" width="282" alt="logo">
          <span class="sr-only">logo game</span>
        </a>
        <div class="header__nav-inner">
          <svg class="header__nav-img" viewBox="0 0 863 50" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" height="50" width="862">
            <path d="M837.293 0.5L861.793 25L837.293 49.5H25.7071L1.20711 25L25.7071 0.5H837.293Z" fill="#111214" stroke="#808692" stroke-linecap="round"/>
          </svg>
          <ul class="menu">
            <li class="menu__item">
              <a class="menu__link" href="#">Home</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Game</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Features</a>
            </li>
            <li class="menu__item">
              <div class="menu__link menu__lang">
                <a class="menu__lang-active" href="#">Eng</a>
                <span>/</span>
                <a href="#">Uk</a>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Play the Beta</a>
            </li>
          </ul>
        </div>
        <button class="burger-btn" type="button">
          <span class="burger-btn__span"></span>
          <span class="sr-only">Open/Close menu</span>
        </button>
        <!--=include burger.html -->
      </nav>
      <h1 class="header__title "><span>TRY TO</span>SURVIVE</h1>
      <span class="header__text">Join the Beta Test Right Now and Win valuable prizes!</span>
    </div>
    <div class="header__items">
      <div class="header__item header__item--social">
        <span class="header__item-name">SOCIALS</span>
        <ul class="social header__social">
          <li class="social__item">
            <a class="social__link" target="_blank" href="https://www.discord.com">
              <svg class="social__img" width="42" height="42">
                <use xlink:href="images/sprite.svg#discord"></use>
              </svg>
              <span class="sr-only">link to discord</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" target="_blank" href="https://www.youtube.com">
              <svg class="social__img" width="42" height="42">
                <use xlink:href="images/sprite.svg#youtube"></use>
              </svg>
              <span class="sr-only">link to youtube</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" target="_blank" href="https://www.facebook.com">
              <svg class="social__img" width="42" height="42">
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
              <span class="sr-only">link to facebook</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" target="_blank" href="https://www.telegram.com">
              <svg class="social__img" width="42" height="42">
                <use xlink:href="images/sprite.svg#telegram"></use>
              </svg>
              <span class="sr-only">link to telegram</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" target="_blank" href="https://www.twitter.com">
              <svg class="social__img" width="42" height="42">
                <use xlink:href="images/sprite.svg#twitter"></use>
              </svg>
              <span class="sr-only">link to twitter</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" target="_blank" href="https://www.instagram.com">
              <svg class="social__img" width="42" height="42">
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
              <span class="sr-only">link to instagram</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" target="_blank" href="https://www.reddit.com">
              <svg class="social__img" width="42" height="42">
                <use xlink:href="images/sprite.svg#reddit"></use>
              </svg>
              <span class="sr-only">link to reddit</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="header__item header__item--registr">
        <button class="header__item-btn" data-popup="reg">Register for Beta</button>
      </div>
      <div class="header__item header__item--data">February 21-23th, 2023</div>
    </div>
</header>